*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Tektur', cursive;
    font-size: 18px;
	cursor:default;
	user-select:none;
}

body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
    max-height: 100vh;
}

header{
	position:absolute;
    top:0;
	left:0;
	width:100%;
	padding:10px 100px;
	background:grey;
	display:flex;
    justify-content:space-between; 
	align-items:center;
	z-index:99;
}

header img{
	height:90px; 
	width:300px;
	float:left;
}

.na{
	position:relative;
	font-size:1em;
	color:black;
	text-decoration:none;
	font-weight:500;
    margin-left:40px;
	transition:0.4s;
}

.na:hover
{
	color:gainsboro;
}	

.na::after{
          content:'';
		  position:absolute;
		  left:0;
		  bottom:-6px;
		  width:100%;
		  height:3px;
		  background:gainsboro;
		  border-radius:5px;
		  transform-origin:center;
		  transform:scaleX(0);
          transition:transform .5s;  
} 

.na:hover::after{
        transform-origin:center;	
        transform:scaleX(1);
}

.navi .log{
	     width:130px; 
		 height:50px;
		 margin-left:40px;
		 background:transparent;
		 border:2px solid black; 
		 outline:none;
		 border-radius:6px;
		 cursor:pointer;
		 color:black;
		 font-weight:500;
		 font-size:1em;
		 transition:1s;
}

.navi b{
		cursor:pointer;	
}

.navi .log:hover
{
	background: #343434;
    color: #c8c8c8;
}

.btn
{
	position: relative;
    bottom: 50px;
	width:70%;
	height:45px;
	background:grey;
	border:3px solid black;
	outline:none;
	border-radius:6px;
	cursor:pointer;
	font-size:1em;
	color:black;
	font-weight:500;
    margin-top: 47px;
    margin-left: 138px;
	transition:0.5s;
}

.btn b{
	cursor:pointer;	
}

.btn:hover
{
	background: #343434;
    color: #c8c8c8;
}

.complainbox
{
	display: flex;
    align-items: center;
    border: 2px;
    border-radius: 22px;
    flex-direction: column;
    width: 521px;
    height: 490px;
	position: fixed;
    margin-top: 100px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition:.7s;
}

.complainbox:hover
{
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.complain
{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-right: 213px;
}

.subject
{
	margin-left: 42px;
    margin-top: -10px;
}

.content
{
	margin-left: 42px;
}

.mytext
{
	width: 165%;
	padding:10px;
	resize:none;
	border-radius: 22px;
    border-width: 3px;
	cursor:text;
}

#t2
{
    height: 79%;
    border-radius: 26px;
}

.count1
{
    margin-top: -10px;
    margin-left: 145%;
}

.count2
{
    margin-top: -10px;
    margin-left: 140%;
}

.head
{
	margin-top:30px; 
	font-size:25px;
	text-transform:uppercase;
}


