.content 
{
    margin-left: 42px;
    margin-top: 20px;
}

.subject 
{
    margin-left: 42px;
	margin-top:0px;
}

.complainbox 
{
    height: 470px;
    width: 500px;
}

.mytext 
{
    width: 185%;
}

.redo a 
{
    margin-left: 156px;
}

