*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Tektur', cursive;
	font-size:18px;
	cursor:default;
}

body
{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	flex-direction:column;
}

header
{
	position:absolute;
    top:0;
	left:0;
	width:100%;
	padding:10px 100px;
	background:grey;
	display:flex;
    justify-content:space-between; 
	align-items:center;
	z-index:99;
}

header img
{
	height:90px; 
	width:300px;
	float:left;
}

.na
{
	position:relative;
	font-size:1em;
	color:black;
	text-decoration:none;
	font-weight:500;
    margin-left:40px;
}

.na::after
{
	content:'';
	position:absolute;
	left:0;
	bottom:-6px;
	width:100%;
	height:3px;
	background:black;
	border-radius:5px;
	transform-origin:center;
	transform:scaleX(0);
	transition:transform .5s;  
}

.na:hover::after
{
    transform-origin:center;	
    transform:scaleX(1);
}

.navi .log
{
	width:110px; 
	height:50px;
	margin-left:40px;
	background:transparent;
	border:2px solid black; 
	outline:none;
	border-radius:6px;
	cursor:pointer;
	color:black;
	font-weight:500;
	font-size:1em;
	transition:1s;
}

.navi .log b
{
	cursor:pointer;	
}

.navi .log:hover
{
	background:white;
}

.logpg
{
	position:relative;
	width:428px;
	height:558 px;
	background:transparent;
	border:2px solid black;
	border-radius:20px;
	backdrop-filter:blur(20px);
	box-shadow:0 0 30px black;
	display:flex;
	justify-content:center;
	bottom:500;
	align-items:center;
	overflow:hidden;
	transition:.2s ease;
}

.logpg .logfrm
{
	width:100%;
	padding:40px;
}

.logfrm h2
{
	text-align:center;
	position: absolute;
    left: 162px;
	font-size:25px;
}

.inlog
{
	position:relative;
	width:85%;
	height:50px;
	border-bottom:2px solid black;
	margin-top:20px;
	left:23px;
}

.inlog label
{
	position:absolute;
	top:50%;
	left:5px;
	transform:translateY(-50%);
	font-size:1em;
	font-weight:500;
	pointer-events:none;
	transition:.5s;
}

.inlog input:focus~label,
.inlog input:valid~label
{
    top:-5px;
}

.inlog input
{
	width:100%;
	height:100%;
	background:transparent;
	border:none;
	outline:none;
	font-size:1em;
	font-weight:600;
	padding:0 35px 0 5px;
	cursor:pointer;
}

.inlog .icon
{
	position:absolute;
	right:8px;
	font-size:1.2em;
	line-height:57px;
}

.remfor
{
	font-size:0.9em;
	font-weight:500;
	margin:-15px 0 15px;
	display:flex;
	justify-content:space-between;
}

.remfor label input
{
	accent-color:black;
	margin-right:3px;
}

.remfor a
{
    color:black;
	text-decoration:none;
}

.remfor a:hover
{
	color:grey; 
	text-decoration:underline;
}

.btn
{
	width:100%;
	height:45px;
	background:grey;
	border:3px solid black;
	outline:none;
	border-radius:6px;
	cursor:pointer;
	font-size:1em;
	color:black;
	font-weight:500;
	transition:0.5s;
	margin-top: 12px;
	margin-bottom: -10px;
}

.btn b
{
	cursor:pointer;	
}

.btn:hover
{
	background:white;
}

.create
{
	font-size:0.9em;
	color:black;
	text-align:center;
	font-weight:500;
	margin-top: 15px;
}

.create p a
{
	color:black;
	text-decoration:none;
	font-weight:600;
	cursor:pointer;
}	

.create p a:hover
{
    color:grey; 	
	text-decoration:underline;
}

.gender
{
	margin-left: 45px;
    margin-top: 10px;
}

.gen b
{
	cursor:pointer;
}

.gen input
{
	margin-left:12px;
	cursor:pointer;
}

.dob
{
    position: absolute;
    bottom: 113px;
}

.dob input
{
	cursor:pointer;
	font-size:15px;
}

.course
{
    position: absolute;
    bottom: 113px;
    left: 238px;
}

.crs
{
	cursor:pointer;
}