ul
{
	list-style:none;
}

ul li
{
	display:inline-block;
	position:relative;
}	

ul li a
{
	display:block;
	color:black;
	text-decoration:none;
	transition:0.5s;
	text-align:center;
}

ul li a .icon
{
	float:right;
	margin-top:0px;
}

ul li a:hover
{
	color:gainsboro;
	transition:0.7s;
}	

ul li ul.dropdown li
{
	display:block;
	margin-top:10px;
	
}	

ul li ul.dropdown
{
	width:100%;
	position:absolute;
	right: 25px;
	background:#4d4d4d;
	z-index:999;
	display:none;
	transition:0.5s;
	padding:10px;
	border-radius: 10px;
}	

ul li a:hover
{
	background:grey;
	border-radius: 3px;
}

ul li:hover ul.dropdown 	
{
	display:block;
}	